---
#
# This is the configuration for clang-tidy.
#
# To invoke clang-tidy, run
#   cmake -DNSX_TIDY=ON -DNSX_PYTHON=OFF -DBUILD_NSX_GUI=OFF ..
#   make
#
# Below, we select all checks ('*'), then deselect quite a number of them.
#
# As we are not aware of an official way to insert comments in a long string literal,
# we do a dirty little trick: we write comments as if they were no-check specifiers.
#
Checks: '*,

-SectionComment_We_disagree_with_the_following_checks__They_shall_remain_permanently_disabled,

-*-braces-around-statements,
-*-convert-member-functions-to-static,
-*-implicit-bool-conversion,
-*-magic-numbers,
-*-named-parameter,
-*-non-private-member-variables-in-classes,
-*-special-member-functions,
-*-trailing-return*,
-abseil-*,
-cert-err58-cpp,
-cert-err61-cpp,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-cstyle-cast,
-cppcoreguidelines-pro-type-member-init,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-vararg,
-fuchsia-default-arguments-calls,
-fuchsia-default-arguments-declarations,
-fuchsia-overloaded-operator,
-fuchsia-trailing-return,
-google-build-using-namespace,
-google-default-arguments,
-google-readability-casting,
-google-readability-todo,
-google-runtime-int,
-hicpp-multiway-paths-covered,
-hicpp-signed-bitwise,
-hicpp-vararg,
-llvmlibc-callee-namespace,
-llvmlibc-implementation-in-namespace,
-llvm-include-order,
-llvmlibc-restrict-system-libc-headers,
-misc-no-recursion,
-misc-throw-by-value-catch-by-reference,
-performance-inefficient-string-concatenation,
-performance-unnecessary-value-param,
-readability-isolate-declaration,


-SectionComment_Incompatible_with_Qt,

-bugprone-suspicious-include,


-SectionComment_Incompatible_with_Other_3rd_Party_Dependences,

-cppcoreguidelines-no-malloc,
-hicpp-no-malloc,


-SectionComment_Resolve_somewhen,

-clang-analyzer-alpha.deadcode.UnreachableCode,
-clang-analyzer-core.UndefinedBinaryOperatorResult,
-clang-analyzer-security.insecureAPI.strcpy,
-clang-analyzer-core.uninitialized.Assign,
-*VirtualCall,
-*UnixAPI,
-*CallAndMessage,

-cert-oop54-cpp,
-cppcoreguidelines-owning-memory,
-readability-use-anyofallof,


-SectionComment_Occasionally_useful_but_will_never_fully_satisfied,

-*-narrowing-conversions,
-bugprone-branch-clone,
-bugprone-unused-return-value,
-cert-msc32-c,
-cert-msc51-cpp,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-macro-usage,


-SectionComment_Temporarily_disabled_checks__We_need_to_investigate_them_one_by_one,

-cppcoreguidelines-pro-bounds-array-to-pointer-decay, -hicpp-no-array-decay,
-modernize-use-transparent-functors,


-SectionComment_TODO,

-*-avoid-c-arrays,
-*-avoid-goto,
-*-explicit-constructor,
-*-move-const-arg,
-*-qualified-auto,
-*-use-auto,
-*-use-emplace,
-*-use-equals-default,
-bugprone-misplaced-widening-cast,
-bugprone-parent-virtual-call,
-cert-err34-c,
-cert-dcl21-cpp,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-pro-type-static-cast-downcast,
-cppcoreguidelines-slicing,
-fuchsia-statically-constructed-objects,
-google-runtime-references,
-hicpp-explicit-conversions,
-hicpp-member-init,
-misc-redundant-expression,
-modernize-loop-convert,
-modernize-make-shared,
-modernize-make-unique,
-modernize-pass-by-value,
-modernize-use-default-member-init,
-modernize-use-using,
-performance-for-range-copy,
-performance-inefficient-vector-operation,
-performance-unnecessary-copy-initialization,
-readability-const-return-type,
-readability-container-size-empty,
-readability-static-definition-in-anonymous-namespace,
-readability-inconsistent-declaration-parameter-name,
-readability-redundant-member-init,
-readability-simplify-boolean-expr,

-*-uppercase-literal-suffix,
-*-else-after-return,
-*-use-nullptr,
-clang-analyzer-cplusplus.NewDeleteLeaks,
-llvm-namespace-comment,
-modernize-redundant-void-arg,
-hicpp-noexcept-move,-performance-noexcept-move-constructor,
-bugprone-reserved-identifier,-cert-dcl37-c,-cert-dcl51-cpp,

-readability-static-accessed-through-instance,
-readability-redundant-smartptr-get,
-readability-make-member-function-const,
-readability-string-compare,
-google-readability-namespace-comments,
-*-deprecated-headers,
-clang-analyzer-core.DivideZero,

'
# end of Checks string
