*~
*.tmp
*.user

*.aux
*.bbl
*.blg
*.dvi
*.end
*.log
*.out
*.toc
*.trs
*.vtp
*.spl

build*/
cmake-build*/
out/
debug/
clang/
qbuild/
cover/
tidy/
notebooks/

docs/build

Testing/

html/
auto/

.DS_Store

.cache/
.vs/
.vscode/
.idea/

__pycache__
