. - build

.cproject

.project

.settings

doc.Doxyfile

.pydevproject

Doc

NSXTool.mp4

Release

apps - build-NSXQt-Desktop-Debug

build-NSXQt-Desktop-Release

build-NSXQt-Desktop_Qt_5_3_GCC_64bit-Debug

build-NSXQt-Desktop_Qt_5_3_GCC_64bit-Release

build-NSXQt-Desktop-debug

build-LatticeRefiner-Desktop_Qt_5_3_GCC_64bit-Debug

build-LatticeRefiner-Desktop_Qt_5_3_GCC_64bit-Release

apps/NSXQt - debug

release

ui_peakplotter.h

ui_dialog_PeakFind.h

Makefile

nsxtool

ui_plotter1d.h

Makefile.Release

ui_dialog_UnitCell.h

Makefile.Debug

NSXQt.pro.user

ui_mainwindow.h

ui_dialogtransformationmatrix.h

ui_DialogExperiment.h

ui_dialogunitcellsolutions.h

ui_dialogubrefinement.h

ui_*

testing - compileD19.sh

D19Proto-build-desktop-Qt_4_8_1_in_PATH__System__Release

D19Proto-build-desktop-Qt_4_8_1_in_PATH__System__Debug

build-D19Proto-Desktop_Qt_5_3_GCC_64bit-Release

/build/
/Debug/
